

/*V--Index.html--V*/

body {
    background-image: url("./SuperCoinOp_Pics/bubbles.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*#class-container {
}
*/

body h1 {
	font-family: courier, sans-serif;
	color: #7FFF00;
	text-align: center;
}
body h2 {
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
}

nav ul {
	text-align: center;
}

#mailing {
	text-align: center;
}

.image {
	margin: auto;
	display: block;
	text-align: center;
}	

.example-page {  
	text-align: center; /*centers the text*/
}

/*V--Info.html page i.e Hours and Location--V*
di
*/

#hours {
	text-align: center;
    border: 10px solid #7FFF00;
    border-radius: 25px;
    line-height: 1.5;
    vertical-align: middle;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-size: 40px;
    font-style: arial, sans-serif;
}
   
}


/*V--FAQ---V*/
.services {
	display: inline-block;
}




