/*V--Index.html--V*/

body h1 {
	font-family: courier, sans-serif;
	color: #7FFF00;
}

body {
    background-image: url("./SuperCoinOp_Pics/bubbles.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	    
}

#mailing {
	text-align: center;
}

.image {
	margin: auto;
	display: block;
	text-align: center;
}

#example-page {
	text-align: center;
}