/*V--Index.html--V*/

body h1 {
	font-family: courier, sans-serif;
	color: #7FFF00;
}

body {
	    background-image: url("./SuperCoinOp_Pics/bubbles.jpg");
}

#mailing {
	text-align: center;
}

#image {
	text-align: center;
}

#example-page {
	text-align: center;
}